// break point
$maxIphone: 475px;
$maxIphone-l: 719px;
$maxTablet: 768px;
$maxTablet-l: 1024px;

// color variable
$black:         #141111;
$gray:          #4F4F4F;
$white:         #E5E5E5;
$red:           #DD342E;
$lightGray:     #bdbdbd;
// opacity color variable
$opBlack-5:         rgba($color:$black,$alpha:0.5);
$opBlack-1:         rgba($color:$black,$alpha:0.1);