@import "../common/mixin";
@import "../common/variable";

#footer{
    @include responsive("iphone-l"){
        margin-bottom: 90px;
        padding: 0 20px;
        justify-content: space-around;
    }
    @include flex($jusCon:space-between,$aliItem:center);
    @include font($size:17px,$transform:uppercase,$letter:1.2px,$color:$white);
    width: 100vw;
    height: 100px;
    background-color: $opBlack-9;
    padding: 0 50px;
    border-top: 1px solid $white;
    transition: 0.3s;
    .fnb{
        @include flex($jusCon:center,$aliItem:center);
        li{
            margin-right: 25px;
            &:last-child{
                margin: 0;
            }
        }
        a{
            @include responsive("iphone-l"){
                width: 45px;
            }
            display: block;
            width: 50px;
            opacity: 0.5;
            transition: 0.2s;
            padding: 10px;
            &:hover{
                opacity: 1;
            }
        }
        img{
            width: 100%;
        }
    }
    .terms{
        @include responsive("iphone-l"){
            display: none;
        }
        color: $white;
        padding: 15px 0;
    }
}