@import "../common/mixin";
@import "../common/variable";

#info{
    @include responsive("iphone-l"){
        height: 90vh;
    }
    width: 100vw;
    height: 100vh;
    background-color: $lightGray;
    overflow: hidden;
    .info__container{
        @include responsive("tablet"){
            flex-direction: column;
            justify-content: space-around;
        }
        @include flex($jusCon:space-between,$aliItem:center);
        width: 100%;
        height: 100%;
        max-width: 1050px;
        margin: 0 auto;
        position: relative;
    }
}
.info__box{
    .img__back-design{
        @include responsive("tablet-l"){
            width: 300px;
            height: 300px;
            top: 25%;
            left: 5%;
        }
        @include responsive("tablet"){
            top: 7.5%;
            left: 20%;
        }
        @include responsive("iphone-l"){
            left: 15%;
            width: 250px;
            height: 250px;
        }
        @include position($pos:absolute,$t:15%,$l:-5%,$z:10);
        width: 400px;
        height: 400px;
        background-color: $black;
        box-shadow: 0px 0px 25px $opBlack-5;
    }
    .info__img{
        @include responsive("tablet-l"){
            width: 300px;
            height: 300px;
            top: 30%;
            left: 10%;
        }
        @include responsive("tablet"){
            position: relative;
            top: 20%;
            left: 0;
        }
        @include responsive("iphone-l"){
            width: 250px;
            height: 250px;
        }
        @include position($pos:absolute, $t:20%,$z:20);
        box-shadow: 0px 0px 25px $opBlack-5;
        width: 400px;
        height: 400px;
        
        img{
            @include responsive("tablet-l"){
                width: 300px;
                height: 300px;
            }
            @include responsive("iphone-l"){
                width: 250px;
                height: 250px;
            }
            filter: grayscale(100%) brightness(0.8) saturate(2);
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
        &::before{
            @include position($pos:absolute,$r:25px,$t:-25px,$z:60);
            @include image($url:"../images/common/circle.png",
                            $pos:center,$size:contain);
            content: "";
            width: 50px;
            height: 50px;
        }
        &::after{
            @include responsive("tablet"){
                display: none;
            }
            @include position($pos:absolute,$b:-130px, $r:50px);
            @include image($url:"../images/common/dot.png",
                            $pos:center,$size:25px);
            content: "";
            display: block;
            width: 140px;
            height: 140px;
        }
    }
}
.info__content{
    @include responsive("tablet-l"){
        width: 60%;
        padding-left: 100px;
    }
    @include responsive("tablet"){
        padding: 0;
    }
    @include responsive("iphone-l"){
        width: 90%;
    }
    @include flex($dir:column,$jusCon:center,$aliItem:center);
    .info__title{
        @include font($size:18px,$weight:600,$transform:uppercase,$align:right);
        display: inline-flex;
        position: relative;
        span{
            font-size: 2em;
        }
        h2{
            @include position($pos:relative,$z:100);
            font-size: 3em;
            &::after{
                @include position($pos:absolute,$r:-25px,$b:-5px,$z:-50);
                content: "";
                width: 300px;
                height: 35px;
                background-color: $red;
                display: block;
            }
        }
    }
    .info__title__img{
        @include responsive("tablet-l"){
            display: none;
        }
        @include image($url:"../images/common/zigzag.png",
                        $size:contain,
                        $pos:center,
                        $rep:no-repeat);
        @include position($pos:absolute,$r:-100%);
        width: 300px;
        height: 75px;
    }
    .info__text{
        @include flex($dir:column,$jusCon:center);
        padding-top: 25px;
        width: 80%;
        li{
            @include font($size:16px,$height:2em,$break:keep-all);
        }
    }
    .info__sns{
        @include responsive("tablet"){
            display: none;
        }
        @include flex($aliItem:center);
        padding-top: 25px;
        li{
            padding: 5px 25px;
            transition: 0.3s;
            opacity: 0.5;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                transform: translateY(-10px);
                opacity: 1;
            }
        }
        a{
            display: block;
            width: 50px;
            transition: 0.2s;
            padding: 10px;
        }
        img{
            width: 100%;
        }
    }
}