@import "../common/mixin";
@import "../common/variable";

#music {
    @include position($pos:relative,$z:2000);
    background-color: $black;
    width: 100vw;
    &::after{
        @include position($pos:absolute,$b:10px,$r:10px);
        @include image($url:"../images/common/zigzag-w.png",
                        $size:contain,$pos:center,$rep:no-repeat);
        content: "";
        display: block;
        width: 20%;
        height: 5%;
    }
}
.music__toggle {
    @include position($pos:relative,$z:1000);
    width: 100vw;
    height: 60px;
    background-color: $red;
    margin-bottom: 30px;
    .toggle__container {
        @include flex($jusCon:space-around,$aliItem:center);
        width: 100%;
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
    }
    li {
        @include font($size:18px,$transform:uppercase,$letter:1.2px);
        cursor: pointer;
        color: $white;
    }
}
.music__container {
    @include flex($jusCon:center,$aliItem:center,$wrap:wrap);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .music__card {
        position: relative;
        width: 30%;
        margin: 30px 10px;
        overflow: hidden;
        transition: 0.3s;

        a {
            display: block;
            width: 100%;
            height: 100%;
            &::after,
            &::before {
                @include position($pos:absolute,$l:0,$t:0);
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 0.3s;
            }
            &::after {
                background-color: $red;
                z-index: 10;
            }
            &::before {
                @include image($url:"../images/common/plus-w-ico.png", $pos:center, $size:25%, $rep:no-repeat);
                z-index: 15;
            }
        }
        img {
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }

        &:hover {
            a {
                &::before {
                    opacity: 0.8;
                    transform: rotate(90deg);
                }
                &::after {
                    opacity: 0.5;
                }
            }
            img {
                transform: scale(1.15);
            }
        }
    }
}
.music__detail{
    background-color: $black;
    position: relative;
    padding-bottom: 100px;
    .music__detail__container{
        @include flex($dir:column,$jusCon:center,$aliItem:center);
        @include position($pos:relative,$z:2000);
        text-align: center;
        background-color: $red;
        padding: 20px 0;
        .detail__img{
            width: 450px;
        }
    }
    .back-btn{
        @include position($pos:absolute,$l:50%);
        @include flex($jusCon:center,$aliItem:center);
        @include font($color:$white,$letter:1.2px);
        width: 250px;
        height: 50px;
        background-color: $red;
        transform: translateX(-50%);
        margin-top: 20px;
    }
}
.music__accordion{
    width: 450px;
    background-color: $gray;
    margin-top: 30px;
    input[id *= "answer"]{
        display: none;
    }
    .accordion__item__title{
        @include font($size:20px,
            $letter:1.2px,
            $color:$white,
            $transform:uppercase);
        display: block;
        padding: 20px 30px;
        cursor: pointer;
        background-color: $black;
        border-bottom: 1.5px solid $red;
    }
    .accordion__item__content{
        max-height: 0;
        transition: 0.3s;
        overflow: hidden;

        a{
            display: block;
            width: 100%;
            padding: 20px;
        }
        img{
            width: 50%;
        }
        ul{
            @include flex($dir:column,$jusCon:center,$aliItem:center);
        }
        li{
            @include flex($dir:column,$jusCon:center,$aliItem:center);
            width: 100%;
            transition: 0.2s;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    input{
        &:checked + label{
            + .accordion__item__content{
                max-height: 100vh;
                transition: 0.3s;
            }
        }
    }
}