@import "../common/mixin";
@import "../common/variable";

#tour {
    @include position($pos:relative,$z:2000);
    width: 100vw;
    background-color: $black;
    border-top: 1px solid $white;
    &::after {
        @include responsive("tablet-l"){
            display: none;
        }
        @include position($pos:absolute,$b:10px,$r:10px,$z:0);
        @include image($url:"../images/common/zigzag-w.png", $size:contain,$pos:center,$rep:no-repeat);
        content: "";
        display: block;
        width: 15%;
        height: 15%;
    }
}
.tour__container {
    @include responsive("iphone-l"){
        padding: 50px 0;
    }
    @include responsive("iphone"){
        padding: 20px 0;
    }
    padding: 100px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    table {
        @include responsive("tablet-l"){
            font-size: 16px;
        }
        @include font($color:$white, $size:20px, $letter:1.2px, $transform:uppercase, $align:center);
        width: 100%;
        tr{
            @include responsive("iphone-l"){
                @include flex($dir:column,$jusCon:center,$aliItem:center);
                &:nth-child(1){
                    display: none;
                }
            }
        }
    }
    a {
        transition: 0.3s;
        padding: 30px;
        &:first-child{
            padding-right: 0;
        }
        &:last-child{
            padding-left: 0;
        }
        &:hover {
            color: $white;
        }
    }
    td,
    th {
        padding: 30px 0;
    }
    tr {
        border-bottom: 1px dashed $white;
    }
}
