include ../common/variable

mixin nav(item)
    ul
        li.hanna(class="nav--item")
            a(href="./index.html") home
        each items in item
            li.hanna(class="nav--item")
                a(href="./" + items + ".html")= items
        li.hanna
            a(href="mailto:info@cynsings.com") contact
        li.hanna
            a(href="https://shop.cynsings.com/") store

mixin musicCard(link,src,alt, classes)
    .music__card(class= classes)
        a(href= link)
            img(src= src, alt= alt)