-mainTitle = "Cyn";
-mainDescription = "official Site";

-navData=["music","videos","tour"];

//- cyn music card
-drinksIMG = "./images/main/music/drinks-video.jpg";
-drinksALT = "Drinks by Cyn";
-lonelyIMG = "./images/main/music/lonely-video.jpg";
-lonelyALT = "Cyn - Lonely Gun";
-moodsIMG  = "./images/main/music/moods-video.png"
-moodsALT  = "Mood Swing";
-neverIMG  = "./images/main/music/never-video.jpg"
-neverALT  = "Never-Ending Summer";
-holyIMG   = "./images/main/music/holy-video.jpg"
-holyALT   = "Holy Roller";
-terribleIMG = "./images/main/music/terrible-video.png"
-terribleALT = "Terrible Ideas";
-stillIMG = "./images/main/music/still-video.jpg"
-stillALT = "I'll Still Have Me";
-stillIMG2 = "./images/main/music/still-video.jpg"
-stillALT2 = "I'll Still Have Me (Aquilo Remix)";
-believerIMG = "./images/main/music/believer-video.jpg"
-believerALT = "Believer";
-believerIMG2 = "./images/main/music/believer2-video.jpg"
-believerALT2 = "Believer (Jenaux Remix)";
-alrightIMG = "./images/main/music/alright-video.jpg"
-alrightALT = "Alright";
-alrightIMG2 = "./images/main/music/alright2-video.jpg"
-alrightALT2 = "Alright (RKCB Remix)";
-onlyIMG = "./images/main/music/only-video.jpg"
-onlyALT = "Only With You";
-togetherIMG = "./images/main/music/together-video.jpg"
-togetherALT = "Together";