-mainTitle = "Cyn";
-mainDescription = "official Site";

-navData=["music","videos","tour"];

//- cyn music card
-drinksIMG = "https://www.cynsings.com/files/2020/03/artwork-440x440-1.jpg";
-drinksALT = "Drinks by Cyn";
-lonelyIMG = "https://www.cynsings.com/files/2020/02/5e3d0323123eb_400x400bb-1.jpg";
-lonelyALT = "Cyn - Lonely Gun";
-moodsIMG  = "https://www.cynsings.com/files/2019/09/5d7827379faae_ScreenShot2019-08-19at6.33.45PM_5d782737c8325-1024x1010.png";
-moodsALT  = "Mood Swing";
-neverIMG  = "https://www.cynsings.com/files/2019/08/5d5ca5009c707_.jpg";
-neverALT  = "Never-Ending Summer";
-holyIMG   = "https://www.cynsings.com/files/2019/07/5ce3245bc9c53_400x400bb.jpg";
-holyALT   = "Holy Roller";
-terribleIMG = "https://www.cynsings.com/files/2019/07/5ca6539781ef2_400x400bb.jpg";
-terribleALT = "Terrible Ideas";
-stillIMG = "https://www.cynsings.com/files/2019/07/5d029a73be97d_400x400bb.jpg";
-stillALT = "I'll Still Have Me";
-stillIMG2 = "https://www.cynsings.com/files/2019/07/5d0299c2df4d3_400x400bb.jpg";
-stillALT2 = "I'll Still Have Me (Aquilo Remix)";
-believerIMG = "https://www.cynsings.com/files/2019/07/5d029add083af_400x400bb.jpg";
-believerALT = "Believer";
-believerIMG2 = "https://www.cynsings.com/files/2019/07/5d029b3692d9b_400x400bb.jpg";
-believerALT2 = "Believer (Jenaux Remix)";
-alrightIMG = "https://www.cynsings.com/files/2019/07/5d029be1bebaf_400x400bb.jpg";
-alrightALT = "Alright";
-alrightIMG2 = "https://www.cynsings.com/files/2019/07/5d029c38ba9c8_400x400bb.jpg";
-alrightALT2 = "Alright (RKCB Remix)";
-onlyIMG = "https://www.cynsings.com/files/2019/07/5d029cacae8f7_400x400bb.jpg";
-onlyALT = "Only With You";
-togetherIMG = "https://www.cynsings.com/files/2019/07/5d029cfad34fb_400x400bb.jpg";
-togetherALT = "Together";