include ../common/mixin
include ../common/variable

section#banner
    .banner__dot
    .banner__img
    .banner__content(
        data-aos="fade-right"
        data-aos-duration=800
    )
        h2.poetsen
            span.color-red Cyn
            | thia Habozny
        .banner__box(
            class="poetsen bg-red"
        ) music artist