include ../common/mixin
include ../common/variable

section#banner
    .banner__dot
    .banner__img
    .banner__content
        h2.hanna cynthia habozny
        button.btn__color--change(
            type="button"
            class="hanna"
        ) music artist