#footer
    p.copyright(class="hanna") &copy; Maru
    ul.fnb
        li
            i
                a(href="#")
                    img(src="./images/icon/facebook-w-ico.png", alt="facebook-white-icon")
        li
            i
                a(href="#")
                    img(src="./images/icon/instagram-w-ico.png", alt="instagram-white-icon")
        li
            i
                a(href="#")
                    img(src="./images/icon/youtube-w-ico.png", alt="youtube-white-icon")
        li
            i
                a(href="#")
                    img(src="./images/icon/twitter-w-ico.png", alt="twitter-white-icon")
    a.terms(class="hanna" href="#") terms privacy