include ../common/mixin
include ../common/variable

header#header
    h1.logo
        a(href="#")
            img(src="./images/common/logo.png", alt="cyn-logo")
    nav#navigation
        +nav(navData)