section#music
    .music__toggle
        .toggle__container
            input(type="checkbox" id="switch1" checked)
            label.hanna(for="switch1") all release
            input(type="checkbox" id="switch2") 
            label.hanna(for="switch2") single
    .music__container
        +musicCard("#",drinksIMG, drinksALT)
        +musicCard("#",lonelyIMG, lonelyALT)
        +musicCard("#",moodsIMG, moodsALT)
        +musicCard("#",neverIMG, neverALT)
        +musicCard("#",holyIMG, holyALT)
        +musicCard("#",terribleIMG, terribleALT)
        +musicCard("#",stillIMG, stillALT)
        +musicCard("#",stillIMG2, stillALT2)
        +musicCard("#",believerIMG, believerALT)
        +musicCard("#",believerIMG2, believerALT2)
        +musicCard("#",alrightIMG, alrightALT)
        +musicCard("#",alrightIMG2, alrightALT2)
        +musicCard("#",onlyIMG, onlyALT)
        +musicCard("#",togetherIMG, togetherALT)