include ../common/mixin
include ../common/variable

section#music
    .music__toggle
        ul.toggle__container
            li.hanna(class="toggle1") all release
            li.hanna(class="toggle2") single
    .music__container
        +musicCard("#",drinksIMG, drinksALT, 'solo-video',       delay=100)
        +musicCard("#",lonelyIMG, lonelyALT, 'all-video',        delay=300)
        +musicCard("#",moodsIMG, moodsALT, 'all-video',          delay=500)
        +musicCard("#",neverIMG, neverALT, 'all-video',          delay=100)
        +musicCard("#",holyIMG, holyALT, 'all-video',            delay=300)
        +musicCard("#",terribleIMG, terribleALT, 'all-video',    delay=500)
        +musicCard("#",stillIMG, stillALT, 'all-video',          delay=100)
        +musicCard("#",stillIMG2, stillALT2, 'all-video',        delay=300)
        +musicCard("#",believerIMG, believerALT, 'all-video',    delay=500)
        +musicCard("#",believerIMG2, believerALT2, 'all-video',  delay=100)
        +musicCard("#",alrightIMG, alrightALT, 'all-video',      delay=300)
        +musicCard("#",alrightIMG2, alrightALT2, 'all-video',    delay=500)
        +musicCard("#",onlyIMG, onlyALT, 'all-video',            delay=100)
        +musicCard("#",togetherIMG, togetherALT, 'all-video',    delay=300)