include ../common/mixin
include ../common/variable

section#music
    .music__toggle
        ul.toggle__container
            li.poetsen(class="toggle1") all release
            li.poetsen(class="toggle2") single
    .music__container
        +musicCard("./drinks.html"        ,drinksIMG,         drinksALT,      'solo-video',           delay=100)
        +musicCard("./lonely.html"        ,lonelyIMG,         lonelyALT,      'all-video',            delay=300)
        +musicCard("./moods.html"         ,moodsIMG,          moodsALT,       'all-video',            delay=500)
        +musicCard("./never.html"         ,neverIMG,          neverALT,       'all-video',            delay=100)
        +musicCard("./holy.html"          ,holyIMG,           holyALT,        'all-video',            delay=300)
        +musicCard("./terrible.html"      ,terribleIMG,       terribleALT,    'all-video',            delay=500)
        +musicCard("./still.html"         ,stillIMG,          stillALT,       'all-video',            delay=100)
        +musicCard("./still2.html"        ,stillIMG2,         stillALT2,      'all-video',            delay=300)
        +musicCard("./believer.html"      ,believerIMG,       believerALT,    'all-video',            delay=500)
        +musicCard("./believer2.html"     ,believerIMG2,      believerALT2,   'all-video',            delay=100)
        +musicCard("./alright.html"       ,alrightIMG,        alrightALT,     'all-video',            delay=300)
        +musicCard("./alright2.html"      ,alrightIMG2,       alrightALT2,    'all-video',            delay=500)
        +musicCard("./only.html"          ,onlyIMG,           onlyALT,        'all-video',            delay=100)
        +musicCard("./together.html"      ,togetherIMG,       togetherALT,    'all-video',            delay=300)