nav#nav-mobile
    ul
        li
            a(href="./music.html")
                i
                    img(src="./images/icon/music-ico.png", alt="music-icon")
        li
            a(href="./videos.html")
                i
                    img(src="./images/icon/video-ico.png", alt="video-icon")
        li
            a(href="./tour.html")
                i
                    img(src="./images/icon/tour-ico.png", alt="tour-icon")
        li
            a(href="mailto:marudev4905@gmail.com")
                i
                    img(src="./images/icon/contact-ico.png", alt="contact-icon")
        li
            a(href="https://shop.cynsings.com/" target="_blank")
                i
                    img(src="./images/icon/cart-ico.png", alt="cart-icon")