include ../common/mixin
include ../common/variable

section#video
    .video__container
        +videoCard(drinksVideo, drinksVideoDes,                     100)
        +videoCard(believerVideo, believerVideoDes,                 300)
        +videoCard(whatareyoudoingVideo, whatareyoudoingVideoDes,   500)
        +videoCard(neverVideo, neverVideoDes,                       100)
        +videoCard(holyVideo, holyVideoDes,                         300)
        +videoCard(terribleVideo, terribleVideoDes,                 500)
        +videoCard(stillVideo, stillVideoDes,                       100)
        +videoCard(onlyVideo, onlyVideoDes,                         300)
        +videoCard(alrightVideo, alrightVideoDes,                   500)
        +videoCard(togetherVideo, togetherVideoDes,                 100)
        +videoCard(momentVideo, momentVideoDes,                     300)
