include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= alrightIMG2, alt= alrightALT2)
        +accordion(
            "http://cyn.lnk.to/alrightremixWE/applemusic",
            "http://cyn.lnk.to/alrightremixWE/deezer",
            "http://cyn.lnk.to/alrightremixWE/napster",
            "http://cyn.lnk.to/alrightremixWE/pandora",
            "http://cyn.lnk.to/alrightremixWE/spotify",
            "http://cyn.lnk.to/alrightremixWE/tidal",
            "http://cyn.lnk.to/alrightremixWE/amazonmp3",
            "http://cyn.lnk.to/alrightremixWE/google-play",
            "http://cyn.lnk.to/alrightremixWE/itunes"
        )
    a.back-btn(href="/music.html" class="poetsen") back to rellases
