include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= believerIMG2, alt= believerALT2)
        +accordion(
            "http://cyn.lnk.to/believerremixWE/applemusic",
            "http://cyn.lnk.to/believerremixWE/deezer",
            "http://cyn.lnk.to/believerremixWE/napster",
            "http://cyn.lnk.to/believerremixWE/pandora",
            "http://cyn.lnk.to/believerremixWE/spotify",
            "http://cyn.lnk.to/believerremixWE/tidal",
            "http://cyn.lnk.to/believerremixWE/amazonmp3",
            "http://cyn.lnk.to/believerremixWE/google-play",
            "http://cyn.lnk.to/believerremixWE/itunes"
        )
    a.back-btn(href="/music.html" class="poetsen") back to rellases
