include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= drinksIMG, alt= drinksALT)
        +accordion(
            "http://cyn.lnk.to/drinkswe/applemusic",
            "http://cyn.lnk.to/drinkswe/deezer",
            "http://cyn.lnk.to/drinkswe/napster",
            "http://cyn.lnk.to/drinkswe/pandora",
            "http://cyn.lnk.to/drinkswe/spotify",
            "http://cyn.lnk.to/drinkswe/tidal",
            "http://cyn.lnk.to/drinkswe/amazonmp3",
            "http://cyn.lnk.to/drinkswe/google-play",
            "http://cyn.lnk.to/drinkswe/itunes"
        )
    a.back-btn(href="./music.html" class="poetsen") back to rellases