include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= holyIMG, alt= holyALT)
        +accordion(
            "http://cyn.lnk.to/holyrollerWE/applemusic",
            "http://cyn.lnk.to/holyrollerWE/deezer",
            "http://cyn.lnk.to/holyrollerWE/napster",
            "http://cyn.lnk.to/holyrollerWE/pandora",
            "http://cyn.lnk.to/holyrollerWE/spotify",
            "http://cyn.lnk.to/holyrollerWE/tidal",
            "http://cyn.lnk.to/holyrollerWE/amazonmp3",
            "http://cyn.lnk.to/holyrollerWE/google-play",
            "http://cyn.lnk.to/holyrollerWE/itunes"
        )
    a.back-btn(href="./music.html" class="poetsen") back to rellases