include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= neverIMG, alt= neverALT)
        +accordion(
            "http://cyn.lnk.to/neverendingsummerWE/applemusic",
            "http://cyn.lnk.to/neverendingsummerWE/deezer",
            "http://cyn.lnk.to/neverendingsummerWE/napster",
            "http://cyn.lnk.to/neverendingsummerWE/pandora",
            "http://cyn.lnk.to/neverendingsummerWE/spotify",
            "http://cyn.lnk.to/neverendingsummerWE/tidal",
            "http://cyn.lnk.to/neverendingsummerWE/amazonmp3",
            "http://cyn.lnk.to/neverendingsummerWE/google-play",
            "http://cyn.lnk.to/neverendingsummerWE/itunes"
        )
    a.back-btn(href="/music.html" class="poetsen") back to rellases