include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= stillIMG2, alt= stillALT2)
        +accordion(
            "http://cyn.lnk.to/illstillhavemeWE/applemusic",
            "http://cyn.lnk.to/illstillhavemeWE/deezer",
            "http://cyn.lnk.to/illstillhavemeWE/napster",
            "http://cyn.lnk.to/illstillhavemeWE/pandora",
            "http://cyn.lnk.to/illstillhavemeWE/spotify",
            "http://cyn.lnk.to/illstillhavemeWE/tidal",
            "http://cyn.lnk.to/illstillhavemeWE/amazonmp3",
            "http://cyn.lnk.to/illstillhavemeWE/google-play",
            "http://cyn.lnk.to/illstillhavemeWE/itunes"
        )
    a.back-btn(href="./music.html" class="poetsen") back to rellases
