include ../../common/mixin
include ../../common/variable

section.music__detail
    .music__detail__container
        img.detail__img(src= stillIMG, alt= stillALT)
        +accordion(
            "http://cyn.lnk.to/illstillhavemeremixWE/applemusic",
            "http://cyn.lnk.to/illstillhavemeremixWE/deezer",
            "http://cyn.lnk.to/illstillhavemeremixWE/napster",
            "http://cyn.lnk.to/illstillhavemeremixWE/pandora",
            "http://cyn.lnk.to/illstillhavemeremixWE/spotify",
            "http://cyn.lnk.to/illstillhavemeremixWE/tidal",
            "http://cyn.lnk.to/illstillhavemeremixWE/amazonmp3",
            "http://cyn.lnk.to/illstillhavemeremixWE/google-play",
            "http://cyn.lnk.to/illstillhavemeremixWE/itunes"
        )
    a.back-btn(href="./music.html" class="poetsen") back to rellases
