<!DOCTYPE html>
html(lang="ko")
    include ./views/partials/head
    body
        include ./views/import/contentHeader
        include ./views/import/music/drinks
        include ./views/import/footer
        include ./views/partials/script